{% extends "base.html" %}

{% block main %}
<h2 class="fw-semibold">Admin page</h2>
<div class="d-flex justify-content-between align-items-baseline flex-wrap">
    <section class="p-2 flex-grow-1 pb-4">
        <h3>Partecipazioni</h3>
        {% set n_invitati = namespace(value=0) %}
        {% set n_bambini = namespace(value=0) %}
        {% for invitato in invitati %}
            {% if invitato.Partecipa == "Si" %}
                {% set n_invitati.value = n_invitati.value + 1 %}
            {% endif %}
            {% if invitato.Tipo == "bambino" %}
                {% set n_bambini.value = n_bambini.value + 1 %}
            {% endif %}
        {% endfor %}
        <p>
            Partecipano {{ n_invitati.value }} su {{ invitati | length }} invitati di cui {{ n_bambini.value }} bambini.
        </p>

    </section>

    <section class="p-2 flex-grow-1 pb-4">
        <h3>Aggiungi una famiglia</h3>
        <form method="post" class="center">
            <input type="hidden" name="csrf" value="{{ csrf_token }}">
            <input type="hidden" name="aggiungi-famiglia" value="1">
            <div class="mb-3">
                <label class="form-label" for="nome">Nome</label>
                <input class="form-control" type="text" name="nome" id="nome">
            </div>
            <button class="btn btn-primary" type="submit">Aggiungi</button>
        </form>
    </section>

    <section class="p-2 flex-grow-1 pb-4">
        <h3>Aggiungi un invitato</h3>
        <form method="post" class="center">
            <input type="hidden" name="csrf" value="{{ csrf_token }}">
            <input type="hidden" name="aggiungi-invitato" value="1">
            <div class="mb-3">
                <label class="form-label" for="nome">Nome</label>
                <input class="form-control" type="text" name="nome" id="nome">
            </div>
            <div class="mb-3">
                <label class="form-label" for="cognome">Cognome</label>
                <input class="form-control" type="text" name="cognome" id="cognome">
            </div>
            <div class="mb-3">
                <label class="form-label" for="famiglia">Famiglia</label>
                <select class="form-select" name="famiglia" id="famiglia">
                    <option value="" selected>Scegli una famiglia...</option>
                    {% for famiglia in famiglie %}
                    <option value="{{ famiglia.Id }}">

                        {{ famiglia.Nome }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn btn-primary" type="submit">Aggiungi</button>
        </form>
    </section>

    <section class="p-2 flex-grow-1 pb-4 table-responsive">
        <h3>Famiglie</h3>
        <table class="table table-hover table-bordered">
            <thead>
                <th>Nome</th>
                <th>Elimina</th>
            </thead>
            <tbody>
                {% for famiglia in famiglie %}
                <tr>
                    <td>

                        {{ famiglia.Nome }}
                    </td>
                    <td>
                        <form method="delete">
                            <input type="hidden" name="csrf" value="{{ csrf_token }}">
                            <input type="hidden" name="rimuovi-famiglia" value="1">
                            <input type="hidden" name="famiglia" value="{{ famiglia.Id }}">
                            <button class="btn btn-primary btn-danger" type="submit">Elimina</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <section class="p-2 flex-grow-1 pb-4 table-responsive">
        <h3>Invitati</h3>
        <table class="table table-hover table-bordered">
            <thead>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Famiglia</th>
                <th>Partecipa</th>
                <th>Allergie</th>
                <th>Tipo</th>
                <th>Età</th>
                <th>Elimina</th>
            </thead>
            <tbody>
                {% for invitato in invitati %}
                <tr>
                    <td>

                        {{ invitato.Nome | capitalize }}
                    </td>
                    <td>

                        {{ invitato.Cognome | capitalize }}
                    </td>
                    <td>

                        {{ invitato.Famiglia }}
                    </td>
                    <td>

                        {{ invitato.Partecipa }}
                    </td>
                    <td>

                        {{ invitato.Allergie | join(", ") }}
                    </td>
                    <td>

                        {{ invitato.Tipo }}
                    </td>
                    <td>

                        {{ invitato.Età }}
                    </td>
                    <td>
                        <form method="delete">
                            <input type="hidden" name="csrf" value="{{ csrf_token }}">
                            <input type="hidden" name="rimuovi-invitato" value="1">
                            <input type="hidden" name="invitato" value="{{ invitato.Id }}">
                            <button class="btn btn-primary btn-danger" type="submit">Elimina</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>
{% endblock main %}