{% extends "base.html" %}

{% block nav_contatti %}active{% endblock nav_contatti %}

{% block main %}
<h2 class="fw-semibold">Contatti</h2>
<div class="d-flex justify-content-between align-items-baseline flex-wrap">
    <section class="p-2 m-2 flex-grow-1">
        <h3 class="fs-4 fw-medium">LA SPOSA</h3>
        <div class="d-flex align-items-baseline justify-content-center">
            <ul style="list-style: none;">
                <li class="fs-3">Roberta Romualdi</li>
                <li>Mail: <a href="mailto:romualdi.roby@hotmail.com">romualdi.roby@hotmail.com</a></li>
                <li>Cellulare: <a href="tel:+393498750509">+39 349 875 0509</a></li>
            </ul>
        </div>
    </section>
    <section class="p-2 m-2 flex-grow-1">
        <h3 class="fs-4 fw-medium">LO SPOSO</h3>
        <div class="d-flex align-items-baseline justify-content-center">
            <ul style="list-style: none;">
                <li class="fs-3">Antonio Simone</li>
                <li>Mail: <a href="mailto:antsimone.tdp@gmail.com">antsimone.tdp@gmail.com</a></li>
                <li>Cellulare: <a href="tel:+393395419772">+39 339 541 9772</a></li>
            </ul>
        </div>
    </section>
    <section class="p-2 m-2 flex-grow-1">
        <h3 class="fs-4 fw-medium">AMMINISTRATORE DEL SITO:</h3>
        <div class="d-flex align-items-baseline justify-content-center">
            <ul style="list-style: none;">
                <li class="fs-3">Marco Simone</li>
                <li>Mail: <a href="mailto:2007.marcosimone@gmail.com">2007.marcosimone@gmail.com</a></li>
                <li>Cellulare: <a href="tel:+393755946273">+39 375 594 6273</a></li>
            </ul>
        </div>
    </section>
</div>

{% endblock main %}