{% extends "base.html" %}

{% block nav_home %}active{% endblock nav_home %}

{% block main %}
<h2 class="fw-semibold">CI SPOSIAMO!</h2>
<div class="d-flex flex-wrap main">
    <section class="p-3">
        <hr>
        <h3 class="fs-4 fw-medium">
            <time datetime="2024-7-7">7 LUGLIO 2024</time>
        </h3>
        <h3 class="fs-4 fw-medium">Città Sant'Angelo, Pescara</h3>
        <hr>
        <p>
            È proprio vero, ci sposiamo!!!
        </p>
        <p>
            Siamo felicissimi! Non stiamo più nella pelle e vogliamo condividere con te questa notizia! Stiamo
            organizzando questo matrimonio e vogliamo che sia un giorno speciale per tutti.
        </p>
        <p>
            In attesa del grande giorno, abbiamo creato questo sito, dove puoi trovare tutta una serie di informazioni
            utili.
        </p>
        <p>
            È importante che tu sappia che nella sezione <a href="{{ url_for('conferma') }}">conferma presenza</a> puoi
            confermare la tua partecipazione al matrimonio. Per favore, dacci risposta il prima possibile: ci renderai
            più facile l'organizzazione dei preparativi.
        </p>
        <p>
            Puoi vedere il <a href="{{ url_for('programma') }}">programma</a> e le <a
                href="{{ url_for('location') }}">location</a> oltre alla nostra <a
                href="{{ url_for('lista_nozze') }}">lista
                nozze</a> proprio qui sul sito!
        </p>
        <p><a href="{{ url_for('contatti') }}">Contattaci</a> in caso di problemi o se hai bisogno di chiarimenti.</p>
    </section>
    <section class="order-first order-lg-last p-3">
        <img class="foto rounded img-fluid" src="{{ url_for('static', filename='img/foto.jpg')}}"
            alt="foto degli sposi">
    </section>
</div>

{% endblock main %}